<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Travel App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- APPLICATION SCRIPT -->
    <!-- <script src="app/app.js"></script> -->
    <title>Travel Project</title>
</head>

<body>
    <h1>Login</h1>
    <form id="location-form" method="POST", action="/users/login">
        <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" id="username-input" class="form-control">
        </div>
        <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" id="password-input" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
    </form>
   

</body>

</html>