body{
  background-image: url("./../images/airplane.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: cover;
}

#myCarousel{
  /*box-shadow: 8px 8px 4px black;*/
  margin-bottom: 50px;    
}

/*#carouselStart{

}*/

#createTrip{
  padding: 20px;
}

#place{

}

.navbar-default{
  opacity: 0.5;
  border-color: #9e8ab4;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-brand{
  font-size: 21px;
}

.pac-container {
        z-index: 10000 !important;
    }

#map-container{
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
  margin-top:10px;
  width: 800px;
}
#map{
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 0 auto;
  margin-left: 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}





html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  padding-top: 5px;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  color:white;
}

.container{
  /*margin-top: 10px;*/
  width: 700px;
}

#loginForm{
  width:400px;
}

#signUp{
  width:400px;
}

#container0{
  width:500px;
  height:400px;
  padding-left:50px;
}

#buttonDiv{
  display: inline-block;
}

.deleteBtn{
  width: 65px;
  margin-bottom: 10px;
}

#infoBox{
  background-color: white;
  margin-bottom: 45px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 6px 6px 6px dimgrey;
}
h6{
  color:white;
}
/*#slide{

  width:400px;
  height:400px;
}
*/

img{

  width:800px;
  height:600px;
}